<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.apuritobokuto.healmane">
    
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/test"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".cl_healthManage"
                    android:label="健康管理">
        </activity>
        <activity android:name=".cl_menuSelect"
                    android:label="メニュー一覧">
        </activity>
        <activity android:name=".cl_menuSelect_Category"
            android:label="メニューカテゴリ選択">
        </activity>
        <activity android:name=".cl_menuSelect_Choice"
            android:label="メニュー選択">
        </activity>
        <activity android:name=".cl_menuSelect_Details"
            android:label="メニュー詳細">
        </activity>
        <activity android:name=".cl_information"
            android:label="お知らせ">
        </activity>
        <activity android:name=".cl_help"
            android:label="ヘルプ">
        </activity>
        <activity android:name=".cl_setting"
            android:label="設定">
        </activity>
        <activity android:name=".cl_settingsAllergy"
            android:label="アレルギー設定">
        </activity>


    </application>

</manifest>